#content-area {
    position: relative;
    display: flex;
    top: 80px;
    width: 175.6vh;
    height: 91.5vh;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
    box-sizing: border-box;
    max-width: 100%;
}

.content {
}

.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px;
    padding: 16px;
}

.producto-container {
    flex: 0 1 calc(20% - 20px); 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
    box-sizing: border-box;
    max-width: 100%;
    height: 450px;
    box-shadow: 4px 2px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra agregada */
}

.producto-container img {
    max-width: 100%;
    height: 200px;
    border-radius: 8px;
    max-height: 200px; 
}

.producto-container p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 5px;
    white-space: normal;
    font-size: 1rem;

}
.title{
    font-weight: bold;
}

.boton {
    background-color: #ff6347;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    border: none;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1rem;
    
}

.boton:hover {
    background-color: #ff4500;
}

/* Media query para pantallas de 1350px o más */
@media (max-width: 1350px) {
    .producto-container {
        flex: 0 1 calc(33.33% - 20px); /* 3 productos por fila */
    }
}