#content-area {
    position: relative;
    display: flex;
    top: 80px;
    width: 175.6vh;
    height: 91.5vh;
    flex-direction: column;
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
    box-sizing: border-box;
    max-width: 100%;
}

.content {
}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;

}

.icon-cart:hover{
    cursor: pointer;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.container-icon{
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 1px solid red;
    position: relative;
    bottom: 180px;
    left: 1750px;
    width: 10%;

}

.count-products{
    position: relative;
    bottom: 20px;
    text-align: center;
    

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;


    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 150px;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}




/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: end;
    
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    text-align: justify; /* Centrar el texto */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);

}

.item h2{
    font-size: 1.5rem;
    border-bottom: #afacac 1px solid;
}


.code{
    font-size: 18px;
    color: black;
    border-bottom: #000 1px solid;
}

.stock{
    font-size: 18px;
    color: black;
    border-bottom: #000 1px solid;
}

.marca{
    font-size: 18px;
    color: black;
    border-bottom: #000 1px solid;
}

.item img {
    width: 100%;   
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
    display: block;

}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    
}

.info-product p{
    font-size: 20px;
    border-bottom: #afacac 1px solid;
    font-family: Arial, Helvetica, sans-serif;
}

#price{
    font-size: 18px;
    font-weight: 900;
    border-radius: 20%;
}

.info-product button{
    width: 10%;
    border: none;
    font-size: 20px; 
    color: grey;
}

.info-product button:hover{
    color: green;
    cursor: pointer;
}


.footer-product{
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.cart-empty{
    padding: 20px;
    text-align: center;
}


.hidden{
    display: none;
}


@media screen and (max-width: 1600px) {
    .container-items{
        grid-template-columns: repeat(3, 1fr);
    }  
    .count-products{
        left: 450px;
    }
    .icon-cart{
        left: 460px;
    }
    .container-cart-products{
        left: 100px;
    }
}


/* Search Container */



/* Search Bar */
.search-bar {
    align-items: center;
    padding: 10px 0;
    width: 1000%;
    margin-top: 10px;
    margin-left: 10px;
}

#search-input {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 50px;
}



.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    margin-top: 20px;
    top: 60px;

    background-color: rgb(90, 90, 185);
}

.search-bar-container{
    display: flex;
    justify-content: flex-start ;
}