p{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

a[href="#/menu"]::before {
    /* Tus estilos para el ::before */
    content: "";
    color: blue;
    font-size: 12px;
}

a[href="#/menu"]::after {
    /* Tus estilos para el ::after */
    content: "";
    color: red;
    font-size: 12px;
}