body {
    font-family: Arial, sans-serif;
    background-color: #f4f3ef;
}

.hidden {
    display: none;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f4f3ef;
}

.login-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#logout-button {
    margin-left: auto;
}